@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Light.otf");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Black.otf");
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/general_sans/GeneralSans-Extralight.otf");
  font-weight: 200;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/general_sans/GeneralSans-Light.otf");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/general_sans/GeneralSans-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/general_sans/GeneralSans-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/general_sans/GeneralSans-Semibold.otf");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/general_sans/GeneralSans-Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

html {
  font-family: "GeneralSans";
}

.text-outline {
  color: transparent;
  opacity: 0.25;
  -webkit-text-stroke: 1px #f5f5ff;
}
/* .m-scroll {
  display: flex;
  overflow: hidden;
  z-index: -1;
  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    transition: all 1s ease;
    & > div {
      display: flex;
      animation: scrollText 33s infinite linear;
    }
    h1 {
      margin: 0;
      color: rgba(255, 255, 255, 1);
      transition: all 2s ease;
    }
  }
} */

/*div:hover {
    animation-play-state: paused;
  }*/
/* @keyframes scrollText {
  from {
    transform: translate(-50%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
} */
.vasekTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top:32px;
}

.vasekTable td,
.vasekTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.vasekTable tr:nth-child(even) {
  background-color: #9892ff;
}

.vasekTable caption {
  text-align: center;
  font-weight: Bold;
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #6159E6;
  color:white
}
.vasekTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #f5f5ff;
  color: black;
}
